---
import { formatDate } from "@/lib/utils";
import { Image } from "astro:assets";
import Tag from "@/components/Tag.astro";

const { entry } = Astro.props;
const formattedDate = formatDate(entry.data.date);

const imgclass =
  "h-full w-full object-cover rounded-[var(--custom-radius)] transition-transform duration-500 ease-out group-hover:scale-105";
---

<article>
  <a href={`/${entry.collection}/${entry.id}`}>
    <div
      class="group transition aspect-square overflow-hidden rounded-[var(--custom-radius)]"
    >
      {
        typeof entry.data.image === "string" ? (
          <img
            src={entry.data.image}
            alt={entry.data.title}
            class={imgclass}
            transition:name={`${entry.collection}-${entry.id}-image`}
          />
        ) : (
          <Image
            src={entry.data.image}
            alt={entry.data.title}
            class={imgclass}
            transition:name={`${entry.collection}-${entry.id}-image`}
          />
        )
      }
    </div></a
  >

  <div class="p-4">
    <Tag entry={entry.data.tags} />

    <h2
      class="mt-3 text-2xl font-bold line-clamp-3"
      transition:name={`${entry.collection}-${entry.id}-title`}
    >
      {entry.data.title}
    </h2>

    <h3 class="mt-4 text-base font-semibold opacity-50">
      {formattedDate}
    </h3>
  </div>
</article>
